@use "../styles/variables" as *;

.account {
	display: flex;
	align-items: center;
	gap: 1rem;

	.accountMessage {
		width: 13rem;
		text-align: end;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media screen and (max-width: 1080px) {
			width: 9rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: pre-wrap;
		}

		@media screen and (max-width: 950px) {
			display: none;
		}
	}

	.accountPicture {
		width: 2.5rem;
		border-radius: 100%;
		overflow: hidden;
		cursor: pointer;
		position: relative;
	}

	.accountBox {
		background-color: $primary-100;
		width: 10rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translateY(100%);
		border-radius: 0.5rem;
		animation: slideIn 0.25s ease;

		@keyframes slideIn {
			from {
				opacity: 0;
				transform: translateY(75%);
			}
			to {
				opacity: 1;
				transform: translateY(100%);
			}
		}

		button {
			width: 100%;
			background-color: $primary-200;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			padding: 0.5rem;
			border: none;
			border-radius: 0.5rem;
			cursor: pointer;

			&:hover {
				background-color: $primary-300;
			}
		}

		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}
