@use "../styles/variables.scss" as *;

.cartSummery {
	background-color: $primary-100;
	width: 20rem;
	height: max-content;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

	.cartSummeryTitle {
		margin-top: 0;
	}

	.cartSummeryTotal {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		p {
			margin: 0;

			span {
				font-weight: bold;
			}
		}
	}

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}
