@use "../styles/variables" as *;

.productPriceInfo {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	.productPrice {
		display: flex;
		flex-direction: column;

		.productNewPrice {
			color: $primary-100;
			font-size: 2.5rem;
			font-weight: bold;
		}

		.productOldPrice {
			color: $primary-500;
			margin: 0;
			font-size: 1rem;
			text-decoration: line-through;
		}
	}

	.productDiscount {
		background-color: $primary-100;
		color: $secondary-100;
		padding: 0.25rem;
		font-size: 1.1rem;
		border-radius: 100rem;
	}

	@media screen and (max-width: 768px) {
		.productPrice {
			margin: 0;

			.productNewPrice {
				font-size: 2rem;
			}
		}

		.productDiscount {
			font-size: 1rem;
		}
	}
}
