@use "../styles/variables.scss" as *;

.ratingOptions {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.ratingOptionsTitle {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.ratingOption {
		display: flex;
		flex-direction: column;
		border-radius: 1rem;

		.ratingOptionInput {
			display: none;
		}

		.ratingOptionInput + .ratingOptionLabel {
			width: max-content;
			display: flex;
			padding: 0.25rem;
			border-radius: 100rem;
			cursor: pointer;
		}

		.ratingOptionInput:checked + .ratingOptionLabel {
			background-color: $primary-200;
			color: $secondary-400;
		}
	}
}
